<div class="row">
    {% for action in actions %}
        <div class="col-sm-6 col-md-4 col-lg-3">
            <h3>{{ action['title'] }}</h3>
            <form role="form" method="{{ action['method'].lower() }}" action="{{ action['href'] }}">
                {% for field in action['fields'] %}
                    <div class="form-group">
                        <label>{{ field['name'] }}{% if field['required'] %}*{% endif %}:</label>
                        {% if field['type'] == 'bool' %}
                            <input type="checkbox" class="checkbox" name="{{ field['name'] }}"
                                    {% if field['required'] %}required{% endif %}>
                        {% elif field['type'] == 'int' %}
                            <input type="number" class="form-control" name="{{ field['name'] }}"
                                   {% if field['required'] %}required{% endif %}>
                        {% else %}
                            <input type="text" class="form-control" name="{{  field['name'] }}"
                                   {% if field['required'] %}required{% endif %}>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <input type="submit" class="btn btn-success">
                </div>
            </form>
        </div>
    {% endfor %}
</div>